@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
  themes:
    dark --default,
    light;
}

@theme {
  --font-mono: 'JetBrains Mono', monospace;
  --font-sans: 'IBM Plex Sans', sans-serif;
}

.prose blockquote {
  quotes: none;
}

.heading-link {
  color: inherit;
  text-decoration: none;
}

.heading-link::before {
  content: '#';
  color: oklch(var(--p));
  opacity: 0;
  position: absolute;
  transform: translateX(-100%);
  padding-right: 0.25rem;
  transition: opacity 0.15s ease;
}

.heading-link:hover::before {
  opacity: 0.5;
}

.pagefind-ui {
  --pagefind-ui-primary: oklch(var(--a));
  --pagefind-ui-text: oklch(var(--bc));
  --pagefind-ui-background: oklch(var(--b1));
  --pagefind-ui-border: oklch(var(--b3));
  --pagefind-ui-tag: oklch(var(--b2));
  --pagefind-ui-font: var(--font-sans);
}
