---
import { HERO } from '@/consts'
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="AeroBlue" description={HERO.description}>
  <div class="hero bg-base-200 self-stretch">
    <div class="hero-content flex-col md:flex-row">
      <img src={HERO.image} class="max-w-2xs rounded-lg shadow-2xl md:max-w-xs" />
      <div>
        <h1 class="text-5xl font-bold">{HERO.title}</h1>
        <p class="py-6 md:max-w-sm">{HERO.description}</p>
        <div class="flex justify-center gap-4 md:justify-start">
          <a href="/blog" class="btn btn-primary">Visit Blog</a>
          <a href="/contact" class="btn btn-outline btn-info">Contact Me</a>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
