---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <div class="card h-60 w-96 self-center bg-gray-200 shadow-sm">
    <div class="card-body text-base-200">
      <h1 class="card-title font-bold">Hello World!</h1>
      <p class="font-medium">Welcome to AeroBlue's personal website!</p>
      <p class="font-light">
        This is a simple test of what using DaisyUI + Tailwind feels like. They both pair very well
        with astro, and no need to add heavy frameworks!
      </p>
    </div>
  </div>
</Layout>
