---
interface Props {
  href?: string
  class?: string
}

const { href = '#', class: className = '' } = Astro.props
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '')
const subpath = pathname.match(/[^\/]+/g)
const isActive = subpath?.join('') == href.replace('/', '').toString()
---

<li>
  <a class:list={[className, { 'menu-active': isActive }]} href={href}>
    <slot />
  </a>
</li>
