---
import { Icon } from 'astro-icon/components'
---

<label class="swap swap-rotate hover:text-accent mx-2">
  <input
    type="checkbox"
    value="light"
    class="theme-controller theme-toggle"
    aria-label="Toggle theme"
  />
  <Icon name="lucide:sun" class="swap-off fill-current" size="20" />
  <Icon name="lucide:moon" class="swap-on fill-current" size="20" />
</label>
